*{
    font-family:'Raleway', sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* allow to include padding and border in an element's total width and height*/
}
a:link{ /*applied to all links*/
    color: white;
    text-decoration: none; /*remove underline and blue colour of the default link tag*/
}
a:visited { /*visited or clicked link*/
    color: white;
    text-decoration: none;
}
.hero{ /*fancy name for main header or banner */
    padding: 20px;
    margin: 0 auto;
    background-color: #005F73;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
header{
    font-weight: 900;
    font-size: 24px;
    flex: 2;
    padding-right: 70px;
}
ul{
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    height: 60px;
    justify-content: center;
    align-items:center;
}
ul li{
    list-style: none;
    flex-grow: 0; /* maintaining the nav button shape and not shrinking */
    flex-shrink: 0;
    text-align:center;
    font-size: 18px;
    font-weight: 700;
    width: 120px;
}
.content1{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.content1text{
    text-align: left;
    color: black;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content1text h2{
    font-size: 48px;
    font-weight: 700;
}
.content1text p{
    font-size: 30px;
}
.content1image{
    align-items: center;
    padding: 50px;
    flex-shrink: 0;
}
.content2{
    align-items: center;
    padding: 30px 100px;
    color: black;
    text-align: center;
    background-color: #0A9396 ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content2 h2{
    font-size: 40px;
}
.content2image{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /*when windows shrink the flex elements will move to the next line*/
}
.content2image img{
    object-fit: cover; /*maintain the width and height specified below for any image given*/
    width:230px;
    height:230px;
    border-radius: 30px; /*rounded edges*/
    border: 5px solid #001219;
}
.content3{
    align-items: center;
    padding: 90px;
    font-size: 22px;
    color: black;
    text-align: center;
    background-color: grey ;
}
.content3 h2{
 font-style: italic;
 font-weight: 200;
 font-size: 60px;
}
.content3 p{
    font-weight: 600;
    font-size: 30px;
}
.content3 h3{
    font-size: 20px;
}
.content4{
    padding: 30px 150px;
}
.content4dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AE2012;
    border-radius: 40px;
}
.content4text{
    text-align: center;
    padding: 40px;
    color: white;
}
.content4text h2{
    font-weight: 500;
    font-size: 40px;
}
.content4button{
    padding: 40px;
}
footer{
    background-color: #001219 ;
    color: white;
    padding: 20px 20px;
    text-align: center;
}
